.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: contain;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  @include on-hover(transform, scale(1.2));

  &--phone {
    background-image: url(../images/icons/phone.svg);
  }

  &--menu {
    background-image: url(../images/icons/menu.svg);

    @media (any-hover: hover) {
      &:hover {
        background-image: url(../images/icons/menu-hover.svg);
      }
    }
  }

  &--close {
    background-image: url(../images/icons/close.svg);
  }
}